body{
    overflow-x: hidden;
    margin: .5rem 1rem;
}

.box{
    transform: translateX(700%);
    transition: transform .7s ease;
}
.box:nth-of-type(even){
    transform: translateX(-700%);
}
.box.show{
    transform: translateX(0);
}
.percent100{
    width: 0;
    transition: width .5s ease-in-out .7s;
}
.percent75{
    width: 0;
    transition: width .5s ease-in-out .7s;
}
.percent50{
    width: 0;
    transition: width .5s ease-in-out .7s;
}
.upsize{
    z-index: 1;
    transition: transform .3s ease, z-index .1s ease;
}
.upsize:hover{
    transform: scale(1.1);
    z-index: 9999;
}